body{
    background-color: bisque;
}

h1 {
    color: brown;
    text-align: center;
    font-family: Arial;
}

.container {
    align-items: center;
    padding: 10px;
}

img{
    display: flex;
    margin: auto;
    width: 35%;
    padding: 20px;
}

.rounded-box {
    justify-content: center;
    border: 2px solid #5c4436;
    border-radius: 15px;
    padding: 12px;
    align-items: center;
    color: brown;
    text-align: center;
  }

  p {
    font-family: Arial;
    color: brown;
    text-align: center;
  }

  .receita{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
    a:link, a:visited {
        background-color: brown;
        color: white;
        border: 2px solid bisque;
        border-radius: 15px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        align-items: center;
        font-family: arial;
      }
      
      a:hover, a:active {
        background-color: white;
        color: brown;
      }

      ol {
        text-decoration: none;
      }